<!DOCTYPE html>
<html lang='{% if locale == "ar" %}ar{% else %}en{% endif %}' dir='{% if locale == "ar" %}rtl{% else %}ltr{% endif %}'>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include "partials/favicon.html.j2" %}
  <link rel="stylesheet" href="/style-a34561fa52.css" type="text/css" />
  <script defer src="/static/script-e53fcbe2d4.js"></script>
  <title>
    {% block title %}
    {{ title|capitalize }} | webpack-config
    {% endblock %}
  </title>
</head>

<body>
  {% include "partials/nav.html.j2" %}
  <div>
    <h1>{{ title|capitalize }}</h1>
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <p>{{ t!("rights_reserved")|capitalize }}</p>
  </footer>
</body>

</html>/footer>
</body>

</html></html>